<%= render "shared/navigation" %>
<div class="container">
  <div id="content"> </div>
<!--   <div id="book"> </div>
 -->
</div>
<script>
  
	App.current_user = new App.Models.User({
		id: <%= current_user.id %>,
    cookbook_id: <%= current_user.cookbook.id %>,
    admin: <%= current_user.admin %>,
    username: "<%= current_user.username %>"
  });

  App.current_user.fetch({
  	error: function(response){console.log("error")} 
  });
</script>

<script>
	$(function(){
		App.initialize();
	});
</script>