<div> dishname	<%= @recipe.dishname %></div>
<div> instructions	<%= @recipe.instructions %></div>
<div> rating	<%= @recipe.rating %></div>
<div> rated	<%= @recipe.rated %></div>
<div> cookbook id	<%= @recipe.cookbook_id %></div>
<div> user id	<%= @recipe.user_id %></div>
