<%= form_for :user_ingredient, :url => api_user_user_ingredients_url, :html => {:method => :post} do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>

	<%= f.label :quantity %>
	<%= f.text_field :quantity %>

	<%= f.label :units %>
	<%= f.text_field :units %>

	<%= f.submit %>
<% end %>

<% if @user_ingredients.empty? %>
	
	<%= "You've got no ingredients at the moment!" %>

<% else %>

	<% @user_ingredients.each do |user_ingredient| %>
	<table>
		<tr>
			<td>
				<%= user_ingredient.name %>
			</td>
		</tr>
		<tr>
			<td>
				<%= user_ingredient.quantity %>
			</td>
		</tr>
		<tr>
			<td>
				<%= user_ingredient.units %>
			</td>
		</tr>
	</table>
	<% end %>
<% end %>
