<!DOCTYPE html>
<html>
<head>
  <title>Potlatch</title>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= stylesheet_link_tag "mobile" if mobile_device? %>
  
  <!-- avoid annoying errors at login screen -->
  <% if current_user %>
    <%= javascript_include_tag "application"%>
  <% end %>
 
  <%= csrf_meta_tags %>

</head>
<body>
  <% if current_user  %>

        <%= yield %>

  <% end %>

  <% if !current_user %>
    <div id='sign-up-wrapper'>
      <%= yield %>
    </div>
  <% end %>

  <% if !mobile_device? %>  
  <% end %>
  
</body>
</html>
