<!DOCTYPE html>
<html>
<head>
  <title>Potlatch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "mobile" if mobile_device? %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <!-- <link rel="shortcut icon" href="/app/assets/images/potlach.ico" > -->
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= current_user.username %>
    <%= button_to "Log out", api_session_url, :method => :delete %>
    <div id='pc-content-wrapper'>
      <div id='pc-content'>
        <%= yield %>
      </div>
    </div>
    <footer class='footer'> </footer>
  <% end %>

  <% if !current_user %>
    <div id='sign-up-wrapper'>
      <%= yield %>
    </div>
  <% end %>

  <% if !mobile_device? %>  
  <% end %>
  
</body>
</html>
